
<div class="container">

    <div class="row">

        <div class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object" style="width: 128px; height: 128px" src="/content/1/test1.jpg" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Middle aligned media</h4>
                Польное описание товара.
                <?= var_dump( $this->param['sess']['cart'] ); ?>
            </div>
        </div>

    </div>

    <br>

    <div class="well well-lg">...</div>

</div>
