<header>

    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img alt="Wanna Buy" src="../icons/icons8-shopping-cart-filled-24.png">
                </a>
            </div>

            <div class="container">

                <ul class="nav navbar-nav">
                    <li class="{main}"><a href="/">Главная</a></li>
                    <li class="{chart}"><a href="chart">График</a></li>
                    <li class="{catalog}"><a href="catalog">Каталог</a></li>
                    <!--li class="{search} disabled"><a href="#">Поиск</a></li>
                    <li class="{doc} disabled"><a href="#">Документация</a></li-->
                    <li class="{download}"><a href="download">Загрузка</a></li>
                    <li class="{callback}"><a href="callback">Обратная связь</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"> </span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"> </li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>

            </div>

            <!--div class="container">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">Profile</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                </ul>
            </div-->



        </div>

    </nav>

</header>
