<!-- Карточка товара -->

<?php if ( $this->param['latestProducts'][0] ): ?>
    <?php foreach ( $this->param['latestProducts'] as $value ): ?>
        <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
            <div class="thumbnail">
                <a href="/product/<?= $value->id; ?>" class="thumbnail" target="_blank">
                    <img style="width: auto; height: 150px" src="<?= $value->image; ?>" alt="<?= $value->name; ?>" title="<?= $value->name; ?>">
                </a>

                <div class="caption">
                    <h3><?= $value->name; ?> <br> <?= $value->price; ?> ₽
                        <span id="<?= $value->id; ?>" class="label label-warning hidden" data-new="<?= $value->new; ?>">New</span>
                    </h3>
                    <span>Код товара: <?= $value->code; ?></span>
                    <p style="width: auto; height: 30px">
                        <?= $value->short_description; ?>
                    </p>
                    <p>
                        <a href="/product/<?= $value->id; ?>" class="btn btn-primary" role="button" target="_blank"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"> </span> Просмотр</a>
                        <a href="/cart/add/" class="btn btn-danger add-to-cart" role="button" data-id="<?= $value->code; ?>"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> </span> В корзину</a>
                    </p>
                </div>
            </div>
        </div>
    <?php endforeach; ?>
<?php endif; ?>
