<div class="container">

    <div class="row">

        <div class="col-xs-6 col-md-6">
            <a href="/image/{1}" class="thumbnail">
                <img src="{image1}" alt="{name}" title="{name}">
            </a>

            <div class="col-xs-4 col-md-4">
                <a href="/image/{1}" class="thumbnail">
                    <img src="{image1}" alt="{name}" title="{name}">
                </a>
            </div>

            <div class="col-xs-4 col-md-4">
                <a href="/image/{2}" class="thumbnail">
                    <img src="{image2}" alt="{name}" title="{name}">
                </a>
            </div>

            <div class="col-xs-4 col-md-4">
                <a href="/image/{3}" class="thumbnail">
                    <img src="{image3}" alt="{name}" title="{name}">
                </a>
            </div>

        </div>

        <div class="caption">
           <h3>{name} <br> {price} ₽
               <span id="{id}" class="label label-warning hidden" data-new="{new}">New</span>
           </h3>
           <p>
                {description}
           </p>
           <p>
               <a href="/cart/{id}" class="btn btn-danger" role="button">В корзину</a>
           </p>
        </div>

    </div>

    <div class="well well-lg">...</div>

</div>
