<!-- Карточка товара -->

    <div class="col-sm-4">
        <div class="thumbnail">
            <a href="#" class="thumbnail">
                <img src="../screenshots/test.jpg" alt="Шкатулка Венеция" title="Шкатулка Венеция">
            </a>
            <div class="caption">
                <h3>Шкатулка Венеция <br> 3 200 ₽
                </h3>
                <p>
                    Шкатулка ручной работы <br>
                    Длинна: 200 мм <br>
                    Ширина: 100 мм <br>
                    Высота 54 мм
                </p>
                <p><a href="#" class="btn btn-primary" role="button">Просмотр</a>
                    <a href="#" class="btn btn-danger" role="button">В корзину</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="thumbnail">
            <a href="#" class="thumbnail">
                <img src="../screenshots/test.jpg" alt="Шкатулка Венеция" title="Шкатулка Венеция">
            </a>
            <div class="caption">
                <h3>Шкатулка Венеция <br> 3 200 ₽
                </h3>
                <p>
                    Шкатулка ручной работы <br>
                    Длинна: 200 мм <br>
                    Ширина: 100 мм <br>
                    Высота 54 мм
                </p>
                <p><a href="#" class="btn btn-primary" role="button">Просмотр</a>
                    <a href="#" class="btn btn-danger" role="button">В корзину</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="thumbnail">
            <a href="#" class="thumbnail">
                <img src="../screenshots/test.jpg" alt="Шкатулка Венеция" title="Шкатулка Венеция">
            </a>
            <div class="caption">
                <h3>Шкатулка Венеция <br> 3 200 ₽
                </h3>
                <p>
                    Шкатулка ручной работы <br>
                    Длинна: 200 мм <br>
                    Ширина: 100 мм <br>
                    Высота 54 мм
                </p>
                <p><a href="#" class="btn btn-primary" role="button">Просмотр</a>
                    <a href="#" class="btn btn-danger" role="button">В корзину</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="thumbnail">
            <a href="#" class="thumbnail">
                <img src="../screenshots/test.jpg" alt="Шкатулка Венеция" title="Шкатулка Венеция">
            </a>
            <div class="caption">
                <h3>Шкатулка Венеция <br> 3 200 ₽
                </h3>
                <p>
                    Шкатулка ручной работы <br>
                    Длинна: 200 мм <br>
                    Ширина: 100 мм <br>
                    Высота 54 мм
                </p>
                <p><a href="#" class="btn btn-primary" role="button">Просмотр</a>
                    <a href="#" class="btn btn-danger" role="button">В корзину</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="thumbnail">
            <a href="#" class="thumbnail">
                <img src="../screenshots/test.jpg" alt="Шкатулка Венеция" title="Шкатулка Венеция">
            </a>
            <div class="caption">
                <h3>Шкатулка Венеция <br> 3 200 ₽
                </h3>
                <p>
                    Шкатулка ручной работы <br>
                    Длинна: 200 мм <br>
                    Ширина: 100 мм <br>
                    Высота 54 мм
                </p>
                <p><a href="#" class="btn btn-primary" role="button">Просмотр</a>
                    <a href="#" class="btn btn-danger" role="button">В корзину</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="thumbnail">
            <a href="#" class="thumbnail">
                <img src="../screenshots/test.jpg" alt="Шкатулка Венеция" title="Шкатулка Венеция">
            </a>
            <div class="caption">
                <h3>Шкатулка Венеция <br> 3 200 ₽
                </h3>
                <p>
                    Шкатулка ручной работы <br>
                    Длинна: 200 мм <br>
                    Ширина: 100 мм <br>
                    Высота 54 мм
                </p>
                <p><a href="#" class="btn btn-primary" role="button">Просмотр</a>
                    <a href="#" class="btn btn-danger" role="button">В корзину</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="thumbnail">
            <a href="#" class="thumbnail">
                <img src="../screenshots/test.jpg" alt="Шкатулка Венеция" title="Шкатулка Венеция">
            </a>
            <div class="caption">
                <h3>Шкатулка Венеция <br> 3 200 ₽
                </h3>
                <p>
                    Шкатулка ручной работы <br>
                    Длинна: 200 мм <br>
                    Ширина: 100 мм <br>
                    Высота 54 мм
                </p>
                <p><a href="#" class="btn btn-primary" role="button">Просмотр</a>
                    <a href="#" class="btn btn-danger" role="button">В корзину</a>
                </p>
            </div>
        </div>
    </div>

</div>

</div>

</div>
