<!-- Карточка товара -->

<?php if ( $this->param['latestProducts'][0] ): ?>
    <?php foreach ( $this->param['latestProducts'] as $value ): ?>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="/product/<?= $value->id; ?>" class="thumbnail">
                    <img style="width: auto; height: 150px" src="<?= $value->image; ?>" alt="<?= $value->name; ?>" title="<?= $value->name; ?>">
                </a>

                <div class="caption">
                    <h3><?= $value->name; ?> <br> <?= $value->price; ?> ₽
                        <span id="<?= $value->id; ?>" class="label label-warning hidden" data-new="<?= $value->new; ?>">New</span>
                    </h3>
                    <p style="width: auto; height: 50px">
                        <?= $value->short_description; ?>
                    </p>
                    <p><a href="/product/<?= $value->id; ?>" class="btn btn-primary" role="button" target="_blank">Просмотр</a>
                        <a href="/cart/<?= $value->id; ?>" class="btn btn-danger" role="button">В корзину</a>
                    </p>
                </div>
            </div>
        </div>
    <?php endforeach; ?>
<?php endif; ?>
