<div class="container">

    <div class="row">

    <?php if ( $this->param['productDetails'][0] ): ?>
        <?php foreach ( $this->param['productDetails'] as $value ): ?>

        <div class="col-xs-6 col-md-6">
            <a href="<?= $value->image1; ?>" class="thumbnail">
                <img src="<?= $value->image1; ?>" alt="<?= $value->name; ?>" title="<?= $value->name; ?>">
            </a>

            <div class="col-xs-4 col-md-4">
                <a href="<?= $value->image1; ?>" class="thumbnail">
                    <img src="<?= $value->image1; ?>" alt="<?= $value->name; ?>" title="<?= $value->name; ?>">
                </a>
            </div>

            <div class="col-xs-4 col-md-4">
                <a href="<?= $value->image2; ?>" class="thumbnail">
                    <img src="<?= $value->image2; ?>" alt="<?= $value->name; ?>" title="<?= $value->name; ?>">
                </a>
            </div>

            <div class="col-xs-4 col-md-4">
                <a href="<?= $value->image3; ?>" class="thumbnail">
                    <img src="<?= $value->image3; ?>" alt="<?= $value->name; ?>" title="<?= $value->name; ?>">
                </a>
            </div>

        </div>

        <div class="caption">
           <h3><?= $value->name; ?> <br> <?= $value->price; ?> ₽
               <span id="{id}" class="label label-warning hidden" data-new="<?= $value->new; ?>">New</span>
           </h3>
           <span>Код товара: <?= $value->code; ?></span>
           <p>
                <?= $value->description; ?>
           </p>
           <p>
               <a href="/cart/add/" class="btn btn-danger add-to-cart" role="button" data-id="<?= $value->code; ?>"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> </span> В корзину</a>
           </p>
        </div>

        <?php endforeach; ?>
    <?php endif; ?>

    </div>

</div>
